aside {
  &.liveSearch {
    .list-group {
      .list-group-item {
        svg {
          margin-right: 5px;
        }

        &.active {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: rgba($primary, 0.15);
          border-color: rgba($primary, 0.15);
          color: $primary;
          transition: all 0.3s ease;

          svg {
            margin: 0;
          }

          &:hover {
            background-color: $primary;
            border-color: $primary;
            color: white;
          }
        }
      }

      #notFoundSearch {
        position: absolute;
        right: 15px;
        top: 15px;
        color: $danger;
        z-index: 10;
      }
    }
  }
}
