.content-info .nav li {
  @extend .nav-item;
}

.content-info .nav a {
  @extend .nav-link;

  @include font-family('ubuntu', 'medium');
}

.content-info {
  background-color: $secondary;
  font-size: 90%;

  .pre-footer {
    padding: 3rem 0 1.5rem;
  }

  .post-footer {
    background-color: rgba(0, 0, 0, 0.075);

    .container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
