.section {
  .widgetTitle {
    margin-bottom: 1.5rem;
  }

  .updated {
    color: rgba(0, 0, 0, 0.5);
  }

  ul {
    @extend .list-unstyled;

    li {
      margin-bottom: 0.75rem;

      a {
        display: flex;
        justify-content: start;
        width: 100%;
        align-items: center;

        figure {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          background-color: rgba($primary, 0.05);
          border: 1px solid rgba($primary, 0.1);
          margin: 0;
          padding: 0;
          transition: background-color 0.3s ease-in-out, border 0.1s ease-in-out;

          &::before {
            display: none;
          }
        }

        .feed-body {
          margin-left: 1rem;
          width: calc(100% - 48px);
        }

        h5 {
          @include font-family();

          font-size: 16px;
          color: rgba(0, 0, 0, 0.85);
        }

        &:hover {
          figure {
            background-color: rgba($primary, 0.95);
            border: 1px solid rgba($primary, 0.95);
            color: white;
          }

          h5 {
            color: $primary;
          }
        }
      }

      &.knowledgebase {
        a {
          figure::before {
            font-family: 'Font Awesome 5 Solid', sans-serif;
            font-weight: 900;
            content: "\f002";
          }
        }
      }

      &.faq {
        a {
          figure::before {
            font-family: 'Font Awesome 5 Solid', sans-serif;
            font-weight: 900;
            content: "\f128";
          }
        }
      }

      &.forum {
        a {
          figure::before {
            font-family: 'Font Awesome 5 Regular', sans-serif;
            font-weight: 400;
            content: "\f27a";
          }
        }
      }
    }
  }
}

#feed {
  background-color: rgba($secondary, 0.1);
}

#deckInfo {
  .card {
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    text-align: center;
    margin: auto;

    .btn-link {
      transition: background-color 0.7s ease, color 0.7s ease;
      background-color: rgba($primary, 0.15);

      &:hover {
        background-color: rgba($primary, 75);
        color: white;
      }
    }

    svg {
      margin: 0 auto 2rem;
      font-size: 48px;
      transform: scale(1);
      transition: all 0.3s ease;
      opacity: 0.5;
    }

    .card-body {
      .card-title {
        margin-bottom: 1.25rem;
      }
    }

    .card-footer {
      padding: 0.75rem 1.25rem;
      background-color: transparent;
      border-top: 0 none;
    }

    &:hover {
      h5 > a {
        color: $primary;
      }

      svg {
        color: $primary;
        transform: scale(1.25);
        opacity: 0.75;
      }
    }
  }
}

#feedback {
  background-color: transparent;
  background-image: url("../images/feedback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;

  @include media-breakpoint-up(md) {
    .row {
      justify-content: center;
      text-align: center;
    }
  }
}
